@media screen and (min-width: 769px) {

html {
  height: 100%;
}

body {
  word-break: break-all;
  color: #f2f2f2;
  width: 100%;
  height: 100%;
  margin: 0;
}

/* header */
header {
  position: fixed;
  z-index: 999;
  background: #222; 
  color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  top: 0;
  transition: 1s;
}

/* headerが消える */
header.hide {
  transform: translateY(-100px);
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  margin-left: 30px;
}

.hamburger {
  display: none;
}

.globalMenuSp > ul {
  display: none;
}

#nav-pc {
  text-align: right;
  font-size: 20px;
  margin: auto 30px;
}

#nav-pc > a {
  text-decoration: none;
  margin-left: 32px;
  color: #f2f2f2;
}

#nav-pc a:hover {
  color: #666;
}

#nav-pc a:active {
  color: #666;
}

/* article */
article {  
  margin-top: 100px;
  height: 100%;
}

/* main1 その場でアニメーション*/
#main1 {
  display: flex;
  background-color: #0066FF;
  height: 100%;
}




/* 左側1 */
#left1 {
  margin: auto;
  text-align: center;
  width: 100%;
}

.p {
  margin: 40px 30px; 
}

#left1 > a:hover {
  background-color: #34daff;
  border: 1px solid #34daff;
}

.btn {
  border-radius: 10px;
  border: 1px solid #f2f2f2;
  /* background-color: #34DAFF; */
  padding: 10px;
  text-decoration: none;
  color: #f2f2f2;
  margin: auto;
}

/* 右側1 */
.right {
  width: 100%;
}

.img {
  width: 100%;
  height: 100%;
}

/* main2 */
#main2 {
  display: flex;
  background-color: #FF0000;
  height: 100%;
}




/* 左側2 */
#left2 {
  margin: auto;
  text-align: center;
  width: 100%;
}

#left2 > a:hover {
  background-color: #CA0000;
  border: 1px solid #CA0000;
}

/* main3 */
#main3 {
  display: flex;
  background-color: #080063;
  height: 100%;
}

/* 左側3 */
#left3 {
  margin: auto;
  text-align: center;
  width: 100%;
}

#left3 > a:hover {
  background-color: #4526FF;
  border: 1px solid #4526FF;
}

/* main4 */
#main4 {
  display: flex;
  background-color: #800000;
  height: 100%;
}



/* 左側4 */
#left4 {
  margin: auto;
  text-align: center;
  width: 100%;
}

#left4 > a:hover {
  background-color: #B03C58;
  border: 1px solid #B03C58;
}

/* main5 */
#main5 {
  display: flex;
  background-color: #3167B7;
  height: 100%;
}




/* 左側5 */
#left5 {
  margin: auto;
  text-align: center;
  width: 100%;
}

#left5 > a:hover {
  background-color: #1E96DA;
  border: 1px solid #1E96DA;
}

/* main6 */
#main6 {
  display: flex;
  background-color: #FFC90B;
  height: 100%;
}

/* 左側6 */
#left6 {
  margin: auto;
  text-align: center;
  width: 100%;
}

#left6 > a:hover {
  background-color: #E7DD00;
  border: 1px solid #E7DD00;
}
}







/* レスポンシブ */
@media screen and (max-width: 768px) {
  html {
    height: 100%;
  }

  body {
    word-break: break-all;
    color: #f2f2f2;
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  /* header */
  header {
    position: fixed;
    z-index: 999;
    background: #222; 
    color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    top: 0;
    transition: 1s;
  }
  
  /* headerが消える */
  header.hide {
    transform: translateY(-100px);
  }

  h1 {
    width: 50%;
    height: 50%;
    margin-left: 0;
    padding-left: 20px;
  }

  /* hamburger */
  .hamburger {
    display: block;
    position: fixed;
    z-index: 3;
    right: 30px;
    top: 30px;
    width: 42px;
    height: 42px;
    cursor: pointer;
    text-align: center;
  }

  .hamburger span {
    display: block;
    position: absolute;
    width: 30px;
    height: 2px;
    left: 6px;
    background: red;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .hamburger span:nth-child(1) {
    top: 10px;
  }
  .hamburger span:nth-child(2) {
    top: 20px;
  }
  .hamburger span:nth-child(3) {
    top: 30px;
  }

  .hamburger.activ span:nth-child(1) {
    top: 16px;
    left: 6px;
    background: #fff;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .hamburger.activ span:nth-child(2),
  .hamburger.activ span:nth-child(3) {
    top: 16px;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  nav.globalMenuSp {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    width: 100%;
    opacity: 0;
    transition: opacity .6s ease, visibility .6s ease;
  }

  nav.globalMenuSp ul {
    margin: 0 auto;
    padding: 0;
    width: 100%;
  }

  nav.globalMenuSp ul li {
    list-style-type: none;
    padding: 0;
    width: 100%;
    transition: .4s all;
  }
  nav.globalMenuSp ul li:last-child {
    padding-bottom: 0;
  }
  nav.globalMenuSp ul li:hover {
    background: #add;
  }

  nav.globalMenuSp ul li a {
    display: block;
    color: #fff;
    padding: 1em 0;
    text-decoration: none;
  }

  /* このクラスを、jQueryで付与・削除する */
  nav.globalMenuSp.activ {
    opacity: 1;
  }



  #nav-pc {
    display: none;
  }

  /* article */
article {  
  margin-top: 100px;
  height: 100%;
}

/* main1 その場でアニメーション*/
#main1 {
  display: flex;
  background-color: #0066FF;
  height: 100%;
}



/* 左側1 */
#left1 {
  margin: auto;
  text-align: center;
  width: 100%;
}

.p {
  margin: 40px 30px; 
}

#left1 > a:hover {
  background-color: #34daff;
  border: 1px solid #34daff;
}

.btn {
  border-radius: 10px;
  border: 1px solid #f2f2f2;
  /* background-color: #34DAFF; */
  padding: 10px;
  text-decoration: none;
  color: #f2f2f2;
  margin: auto;
}

/* 右側1 */
.right {
  width: 100%;
}

.img {
  width: 100%;
  height: 100%;
}

/* main2 */
#main2 {
  display: flex;
  background-color: #FF0000;
}


/* 左側2 */
#left2 {
  margin: auto;
  text-align: center;
  width: 100%;
}

#left2 > a:hover {
  background-color: #CA0000;
  border: 1px solid #CA0000;
}

/* main3 */
#main3 {
  display: flex;
  background-color: #080063;
}

/* 左側3 */
#left3 {
  margin: auto;
  text-align: center;
  width: 100%;
}

#left3 > a:hover {
  background-color: #4526FF;
  border: 1px solid #4526FF;
}

/* main4 */
#main4 {
  display: flex;
  background-color: #800000;
}


/* 左側4 */
#left4 {
  margin: auto;
  text-align: center;
  width: 100%;
}

#left4 > a:hover {
  background-color: #B03C58;
  border: 1px solid #B03C58;
}

/* main5 */
#main5 {
  display: flex;
  background-color: #3167B7;
}

/* 左側5 */
#left5 {
  margin: auto;
  text-align: center;
  width: 100%;
}

#left5 > a:hover {
  background-color: #1E96DA;
  border: 1px solid #1E96DA;
}

/* main6 */
#main6 {
  display: flex;
  background-color: #FFC90B;
}

/* 左側6 */
#left6 {
  margin: auto;
  text-align: center;
  width: 100%;
}

#left6 > a:hover {
  background-color: #E7DD00;
  border: 1px solid #E7DD00;
}

  #main1, #main2, #main3, #main4, #main5, #main6 {
    height: 100%;
  }
}

